nav ul 
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 16px;
   
}

nav li 
{
    float: left;
}

nav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    width: 260px;
    text-decoration: none;
    
}

nav li a:hover 
{
    background-color: darkgray;
    color:white;
}

a
{
    color:white;
    text-decoration-line: underline;
}

a:hover
{
    color: black;
}

div.container ul li
{
    font-size: 18px;
	padding: 0.5em;
	color: white;
	font-family: "Roboto", sans-serif;
	border: none;
}



div.project a
{
color: #007bb6;

}