
/*-- CSS for Body section -->*/

.profile 
{
    background-image:url("../Images/background.jpeg");
	background-repeat:no-repeat;
	background-size: cover;
    font-size: 18px;
    color:white;
}

#myCarousel, .carousel-inner
{
    width:1150px;
    height:600px;  
}

.content
{
    width:1162px;
    height:810px; 
    margin:auto;
    padding:1em;
}

#heading:hover
{
    cursor:pointer;
}


/*-- CSS for Buttons in Body section -->*/

#hide, #show
{
    color:black;
    background-color:orangered;
}


/*-- CSS for Table section -->*/

table, th, td
{
    border: 2px solid white;
    padding:1rem;
    width:1100px;
}

th
{
    background-color: seagreen;
}

#tbl1, #tbl2, #tbl3
{
    display:none;
}

#tbl3
{
    height:350px;
    overflow:auto;
}


/*-- CSS for Footer section -->*/

footer
{
    text-align: center;
    color:Red;
    font-size: 15px;
    background-color: white;
    padding:1em;; 
}


/*-- CSS for Social media buttons in Footer section -->*/

.fa 
{
  padding: 12px;
  font-size: 18px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover 
{
    opacity: 0.7;
}


.fa-twitter 
{
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}



